---
import AboutHeroImage from 'src/assets/blog-placeholder-about.jpg';
import Layout from 'src/layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage={AboutHeroImage}
>
	<p>
ćµ‹čŻ•
	</p>

	<p>
ćµ‹čŻ•
	</p>

	<p>
ćµ‹čŻ•
	</p>

	<p>
ćµ‹čŻ•
	</p>

	<p>
ćµ‹čŻ•
	</p>
</Layout>
